
  <div  id="expo-rio" class="marketing">

      <!-- three columns of text below the carousel -->

      <div class="row">
				<div class="col-lg-3"></div>
        <div class="col-lg-6">
					<h1 style="text-align: center; margin-bottom: 50px"> Rio de Contas </h1>
				</div>
				<div class="col-lg-3"></div>
			</div>
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.wixstatic.com/media/ba2abc_215979fa96834727a775f303ad768f77.jpg_srb_p_1106_575_75_22_0.50_1.20_0.00_jpg_srb" alt="generic placeholder image" style="width: 140px; height: 140px;">
          <h2>A coleção</h2>
          <p>donec sed odio dui. etiam porta sem malesuada magna mollis euismod. nullam id dolor id nibh ultricies vehicula ut id elit. morbi leo risus, porta ac consectetur ac, vestibulum at eros. praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">view details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.wixstatic.com/media/ba2abc_ec7a3fdb70c44f939eed6122972409f0.jpg_srb_p_1106_575_75_22_0.50_1.20_0.00_jpg_srb" alt="generic placeholder image" style="width: 140px; height: 140px;">
          <h2>A montagem</h2>
          <p>duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. cras mattis consectetur purus sit amet fermentum. fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">view details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://static.wixstatic.com/media/ba2abc_652380ff79d543d4bb9bcaf33c7136e0.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="generic placeholder image" style="width: 140px; height: 140px;">
          <h2>A cidade</h2>
          <p>donec sed odio dui. cras justo odio, dapibus ac facilisis in, egestas eget quam. vestibulum id ligula porta felis euismod semper. fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">view details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	</div>


  <div class="container">

      <!-- start the featurettes -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
					<h2 class="featurette-heading"> Máquina de costura <br> <span class="text-muted">Lurdes Ramos Pinto Reis <br> 54 anos </span></h2>
          <p class="lead">"Ele criou costurando ali naquela máquina, fazendo o arreio, que foi a arte que ele ensino para esse filho de criação: fazer cela."</p>
					<p><%= link_to "detalhes", "#", class: "btn btn-lg btn-primary", role: "button" %> </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="http://static.wixstatic.com/media/ba2abc_d5aa286444d34b78b03c9327f0096b74.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="http://static.wixstatic.com/media/ba2abc_d39004319dee42a2b65e92e687e37805.jpg_srb_p_1106_583_75_22_0.50_1.20_0.00_jpg_srb" alt="generic placeholder image">
        </div>
        <div class="col-md-5">
					<h2 class="featurette-heading"> Bateias garimpo <br> <span class="text-muted">José Silva Ramos (Ziquinha)<br> 79 anos </span></h2>
          <p class="lead">"Uso a bateia há muitos anos. Aquela primeira é nova, é novata, agora a outra tem uma base de uns 60 anos "</p>
					<p><%= link_to "detalhes", "#", class: "btn btn-lg btn-primary", role: "button" %> </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">and lastly, this one. <span class="text-muted">checkmate.</span></h2>
          <p class="lead">donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis euismod semper. praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /end the featurettes -->
	</div>
