<!-- footer -->
<footer>
  <p class="pull-right"><a href="#">back to top</a></p>
  <p>2015 Infinitos Monos - Desenvolvimento web &middot; <a href="http://www.javiercruz.cl">Javier Cruz</a> &middot; </p>
</footer>
