<!--
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         	  <span class="sr-only">Toggle navigation</span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Gabinete das Lembranças</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">home</a></li>
             <li><a href="#about">Infinitos Monos</a></li>
             <li><a href="#contact">contact</a></li>
             <li class="dropdown">
         			 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">dropdown <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
             	  <li><a href="#">action</a></li>
             	  <li><a href="#">another action</a></li>
             	  <li><a href="#">something else here</a></li>
             	  <li class="divider"></li>
             	  <li class="dropdown-header">nav header</li>
             	  <li><a href="#">separated link</a></li>
             	  <li><a href="#">one more separated link</a></li>
             	 </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1> Gabinete das Lembranças </h1>
    <h3> Objetos significativos </h3>
    <br>
    <a href="#mycarousel" class="btn btn-lg btn-primary page-scroll">Exposições</a>
    <a href="#about" class="btn btn-lg btn-primary page-scroll">Acerca do projeto</a>
  </div>
</header>-->