<!--
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         	  <span class="sr-only">Toggle navigation</span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Gabinete das Lembranças</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">home</a></li>
             <li><a href="#about">Infinitos Monos</a></li>
             <li><a href="#contact">contact</a></li>
             <li class="dropdown">
         			 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">dropdown <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
             	  <li><a href="#">action</a></li>
             	  <li><a href="#">another action</a></li>
             	  <li><a href="#">something else here</a></li>
             	  <li class="divider"></li>
             	  <li class="dropdown-header">nav header</li>
             	  <li><a href="#">separated link</a></li>
             	  <li><a href="#">one more separated link</a></li>
             	 </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>
-->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1> Gabinete das Lembranças </h1>
            <h3> Objetos significativos </h3>
            <br>
            <a href="#mycarousel" class="btn btn-lg btn-primary page-scroll">Exposições</a>
            <a href="#about" class="btn btn-lg btn-primary page-scroll">Acerca do projeto</a>
        </div>
    </header>

<!--ACERCA DEL PROJECTO -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-vertical-about-titulo">
                    <h2>Gabinete das Lembrançãs: Obejtos significatos</h2>
                    <p class="lead">Un proyecto de <a target="_blank" href="http://join.deathtothestockphoto.com/">Infinitos Monos</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
<section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <p class="text-vertical-about">
                  O Gabinete das Lembranças é uma exposição de objetos significativos e suas memórias.
                  <br><br>
                  O conceito chave do projeto é a memória, coletiva e individual. Ante o esvaziamento de significados e sentidos da sociedade contemporânea, achamos importante resgatar nossa história como uma forma de reconhecimento “no outro” e suas experiências e reconhecimento do que somos como comunidade.
                  <br><br>
                  Esse projeto fala de aquelas memórias e histórias que habitam os lugares e coisas, que lhes dão valor e sentido, mas que só se revelam para quem vivenciou aquilo. Queremos fazer visível aquilo que não se vê, através do compartilhamento da experiência.
                  <br><br>
                  Acostumados a espaços cheios de propagandas e normas que condicionam as condutas e objetos sobredimensionados em seu valor simbólico, o comum é que a valorização seja dada pela convenção social. Na nossa proposta, são as pessoas quem dão valor e compartem esse valor na comunidade, gerando outro tipo de espaço de comunicação possível, valorizado pela vivença e a empatia da experiência.
                  <br><br>
                  A experiência para o visitante se produz desde duas perspectivas: desde quem lembra e desde quem assiste as lembranças do outro. Quem lembra é invitado a olhar seu passado, a fazer um ato consciente de memória e escolher um objeto para compartilhar suas vivencias e revivi-o no presente. Quem assiste descobre um valor no objeto que vá para além da materialidade e que tem sido dado pela experiência de um outro.
                  <br><br>
                  Nosso projeto mobiliza a memória coletiva, valorando a história invisível, pessoal, que não é valorizada pela mídia. Se trata uma forma de resistência que invita a compartilhar intimidade desde o mais vulnerável, que é a própria história, gerando um encontro com o outro desde a empatia e a constatação de experiências comuns em vida alheias, convidando à pausa para refletir a partir de outras historias nas nossas próprias.
                  <br><br>
                  Para a realização do projeto é fundamental a etapa de residência previa na cidade intervenida, onde se estabelece uma relação com os moradores a fim de coletar as histórias que serão traduzidas na exposição.
                  <br><br>
                  O Gabinete das lembranças está baseado na confiança, o cuidado, a dedicação e o trabalho conjunto
                </p>
                <br><br>
                <a href="#mycarousel" class="btn btn-lg btn-primary page-scroll"> ir a exposições</a>
                <br><br>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- carousel
    ================================================== -->
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <!-- indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://static.wixstatic.com/media/ba2abc_c15262c869de455db35753ef310c6b22.jpg_srb_p_1106_529_75_22_0.50_1.20_0.00_jpg_srb" alt="first slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rio de Contas</h1>
              <p>Na sua primeira edição, foram coletados, com a participação ativa dos moradores de Rio de Contas, vinte objetos que foram exibidos no Fórum da cidade. Essa ação fez parte do Festival Rua Dos Inventos e esteve em exibição desde o 28 de dezembro até o 2 de janeiro de 2014.</p>
              <%= link_to "ver exhibição", static_pages_rio_de_contas_path+"#expo-rio", class: "btn btn-lg btn-primary page-scroll", role: "button" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.wixstatic.com/media/ba2abc_e782daed4f01416cae9048606faa67c6.jpg_srb_p_986_554_75_22_0.50_1.20_0.00_jpg_srb" alt="second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Morro do Chapéu</h1>
              <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.wixstatic.com/media/ba2abc_64ae9294e37a4865917fb4cb262bb055.jpg_srb_p_985_554_75_22_0.50_1.20_0.00_jpg_srb" alt="third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Andaraí</h1>
              <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a>
            </div>
          </div>
        </div>
        <div class="item">
         <img src="http://static.wixstatic.com/media/ba2abc_64ae9294e37a4865917fb4cb262bb055.jpg_srb_p_985_554_75_22_0.50_1.20_0.00_jpg_srb" alt="fourth slide">
         <div class="container">
           <div class="carousel-caption">
             <h1>Palmeiras</h1>
             <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
             <a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a>
           </div>
         </div>
        </div>
      </div>

      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">next</span>
      </a>
    </div><!-- /.carousel -->


