  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><%= link_to "Gabinete das Lembranças", root_path, class: "smoothScroll", role: "button", method: :get %></h1>
      <i class="icon-remove menu-close"></i>
      <%= link_to "Exposições", exposicaos_path, class: "smoothScroll" %> 
      <a href="#portfolio" class="smoothScroll">Infinitos Monos</a>
      <a href="http://0.0.0.0:3000/" class="smoothScroll">Contact</a>
      <%= link_to "Rio de Contas", static_pages_rio_de_contas_path+"#expo-rio", class: "smoothScroll", role: "button" %>
      <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-dribbble"></i></a>
      <a href="#"><i class="icon-envelope"></i></a>
    </div>
    
    <!-- Menu button -->
    <div id="menuToggle"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></div>
  </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-turbolinks-track="true" src="/assets/menu/classie.js?body=1"></script>     
    <script data-turbolinks-track="true" src="/assets/menu/smoothscroll.js?body=1"></script>     
    <script data-turbolinks-track="true" src="/assets/menu/main.js?body=1"></script>     

