
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         	  <span class="sr-only">Toggle navigation</span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
         	  <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Gabinete das Lembranças</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#">home</a></li>
             <li><a href="#about">Infinitos Monos</a></li>
             <li><a href="#contact">contact</a></li>
             <li class="dropdown">
         			 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">dropdown <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
             	  <li><a href="#">action</a></li>
             	  <li><a href="#">another action</a></li>
             	  <li><a href="#">something else here</a></li>
             	  <li class="divider"></li>
             	  <li class="dropdown-header">nav header</li>
             	  <li><a href="#">separated link</a></li>
             	  <li><a href="#">one more separated link</a></li>
             	 </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>


    <!-- carousel
    ================================================== -->
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <!-- indicators -->
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="http://www.javiercruz.cl/wp-content/uploads/2014/08/NV1.jpg" alt="first slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rio de Contas</h1>
              <p>Na sua primeira edição, foram coletados, com a participação ativa dos moradores de Rio de Contas, vinte objetos que foram exibidos no Fórum da cidade. Essa ação fez parte do Festival Rua Dos Inventos e esteve em exibição desde o 28 de dezembro até o 2 de janeiro de 2014.</p>
							<p><%= link_to "ver exhibição", static_pages_rio_de_contas_path+"#expo-rio", class: "btn btn-lg btn-primary", role: "button" %> </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.wixstatic.com/media/ba2abc_e782daed4f01416cae9048606faa67c6.jpg_srb_p_986_554_75_22_0.50_1.20_0.00_jpg_srb" alt="second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Morro do Chapéu</h1>
              <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.wixstatic.com/media/ba2abc_64ae9294e37a4865917fb4cb262bb055.jpg_srb_p_985_554_75_22_0.50_1.20_0.00_jpg_srb" alt="third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Andaraí</h1>
              <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a></p>
            </div>
          </div>
        </div>
        <div class="item">
         <img src="http://static.wixstatic.com/media/ba2abc_64ae9294e37a4865917fb4cb262bb055.jpg_srb_p_985_554_75_22_0.50_1.20_0.00_jpg_srb" alt="third slide">
         <div class="container">
           <div class="carousel-caption">
             <h1>Palmeiras</h1>
             <p>cras justo odio, dapibus ac facilisis in, egestas eget quam. donec id elit non mi porta gravida at eget metus. nullam id dolor id nibh ultricies vehicula ut id elit.</p>
             <p><a class="btn btn-lg btn-primary" href="#" role="button">ver exhibição</a></p>
           </div>
         </div>
        </div>
      </div>
     </div>
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">next</span>
      </a>
    </div><!-- /.carousel -->


